@media only screen and (max-width: 620px) {
   /* For mobile phones: */
   .menu, .main, .right {
     width: 100%;
   }
 }


 .Style1{
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin: 35px;

 }
 .Style2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width:100%;
    height:auto;
    }



 

 